{% extends 'protocols/layout.html' %}

{% block content %}
<h1 id="pagetitle">PROTOCOLS</h1>
<h2 id="pageinfo">{{pageinfo}}</h2>
<div class="custom-container">
    <div id="modifybox">
        <form method="post" action="submit_protocol/">
            {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    <h3 class="software-title">Title</h3>
                </div>
                <div style="text-align: left" class="col-10">
                    <input name="title" type="text" value="{{protocol.title}}">
                </div>
            </div>
            <br>
            <br>
            <div id="dynamicdiv">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2">
                        <a id="addstep" href="#" class="btn btn-outline-light">Add Step</a>
                    </div>
                    <div class="col-2">
                        <a id="removestep" href="#" class="btn btn-outline-light">Remove Step</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2">
                        <h3 class="software-title">Steps</h3>
                    </div>
                    <div style="text-align: left" class="col-10">
                        <textarea class="dynamicdivline" name="steps" style="resize: none" rows="1" cols="50">{{step}}</textarea>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-2">
                    <h3 class="software-title">Date Uploaded</h3>
                </div>
                <div style="text-align: left" class="col-10">
                    <input name="date_created" type="text" value="{{protocol.datePosted}}">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
    </div>
</div>
<script>
    $(function () {
        var div = $('#dynamicdiv');
        var i = document.getElementsByClassName("dynamicdivline").length;
        $('#addstep').click(function () {
            $('<div class="row"><div class="col-2"></div><div style="text-align: left" class="col-10"><textarea class="dynamicdivline" name="steps" style="resize: none" rows="1" cols="50">{{step}}</textarea></div></div>').appendTo(div);
            i++;
            return false;
        });
        $('#removestep').click(function() {
            if (i > 1) {
                $('.dynamicdivline').eq(i - 1).remove();
                i--;
            }
            return false;
        });
    });
</script>
{% endblock %}