{% extends 'notes/layout.html' %}

{% block content %}
<h1 id="pagetitle">NOTES</h1>
<h2 id="pageinfo">{{notebook.title}}</h2>
<div class="custom-container">
    <div id="modifybox">
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Title</h3>
            </div>
            <div class="col-10">
                <p>{{notebook.title}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Notes</h3>
            </div>
            <div class="col-10">
                <ul>
                    {% for n in notes %}
                    <li>
                        {{n.body}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Date Uploaded</h3>
            </div>
            <div class="col-10">
                <p>{{notebook.datePosted}}</p>
            </div>
        </div>
        <br>
        <a href="#" class="btn btn-outline-light">Edit</a>
    </div>
</div>
{% endblock %}