{% extends 'notes/layout.html' %}

{% block content %}
<h1 id="pagetitle">NOTES</h1>
<h2 id="pageinfo">{{pageinfo}}</h2>
<div class="custom-container">
    <div id="modifybox">
        <form method="post" action="submit_notes/">
            {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    <h3 class="software-title">Title</h3>
                </div>
                <div style="text-align: left" class="col-10">
                    <input name="title" type="text" value="{{notebook.title}}">
                </div>
            </div>
            <br>
            <div id="dynamicdiv">
                <div class="row">
                    <div class="col-2">
                        <h3 class="software-title">Notes</h3>
                    </div>
                    <div style="text-align: left" class="col-10">
                        <textarea class="dynamicdivline" name="notes" style="resize: none" rows="1" cols="50">{{note}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <a id="addnote" href="#" class="btn btn-outline-light">Add Note</a>
                </div>
                <div class="col-2">
                    <a id="removenote" href="#" class="btn btn-outline-light">Remove Note</a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-2">
                    <h3 class="software-title">Date Uploaded</h3>
                </div>
                <div style="text-align: left" class="col-10">
                    <input name="date_created" type="text" value="{{notebook.datePosted}}">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
    </div>
</div>
<script>
    $(function () {
        var div = $('#dynamicdiv');
        var i = document.getElementsByClassName("dynamicdivline").length;
        $('#addnote').click(function () {
            $('<div class="row"><div class="col-2"></div><div style="text-align: left" class="col-10"><textarea name="notes" style="resize: none" rows="1" cols="50">{{note}}</textarea></div></div>').appendTo(div);
            i++;
            return false;
        });
        $('#removenote').click(function() {
            if (i > 1) {
                $(this).parent().parent().remove();
                i--;
            }
            return false;
        });
    });
</script>
{% endblock %}