body {
    background-color: #2c2d32;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background: linear-gradient(to bottom, #2c2d32, transparent);
    padding: 3.125rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.lara-brand {
    font-size: 3em;
}

.lara-item {
    padding-left: 3.125rem;
    white-space: nowrap;
}

.lara-link {
    color: white !important;
    font-size: 1.5em;
}

.lara-link:hover {
    color: white !important;
}

.vertical-align {
    align-items: center;
    display: flex;
    justify-content: center;
}

.center-align {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-container {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.details-title {
    color: #f7b733;
    font-size: 1.2em;
}

.square {
    background-color: #3a3c43;
    background-color: #3a3c43;
    color: white;
    height: 100%;
    padding: 0;
    text-align: center;
}

.preview {
    font-size: 1em;
    padding: 1.2rem;
    text-align: left;
}

.preview-title {
    color: #f7b733;
    font-size: 1.2em;
}

.details-link {
    color: #7ccfb8;
}

.details-link:hover {
    color: #7ccfb8;
}

.line-input {
    border: 0;
    color: lightgrey;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgrey;
}

.line-input:focus {
    border: 0;
    color: white;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
    line-height: 3;
    position: fixed;
    text-align: center;
}

.bottom-right {
    bottom: 10px;
    line-height: 3;
    position: fixed;
    right: 50px;
    text-align: center;
}

.social-media-icon {
    color: white;
    font-size: 24px;
}

.social-media-icon:hover {
    color: white;
}

#laratitle {
    font-size: 4em;
}

#maincontent {
    padding-top: 11.375rem;
    padding-bottom: 11.375rem;
}

#pagetitle {
    color: #7ccfb8;
    font-size: 2em;
    padding-bottom: 3.125rem;
}

#pageinfo {
    font-size: 1.4em;
    padding-bottom: 3.125rem;
    padding-left: 3.125rem;
}

#modifybox {
    background-color: #3a3c43;
    padding: 3.125em;
}

#social-media-icons {
    list-style: none;
}