{% extends 'software/layout.html' %}

{% block content %}
<div class="addsoftwareinfo">
    <h1>Add Software</h1>
    <form method="post" action="submit_software/">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <p style="text-align: right">Title</p>
            </div>
            <div style="text-align: left" class="col-6">
                <input name="title" type="text">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p style="text-align: right">Description</p>
            </div>
            <div style="text-align: left" class="col-6">
                <textarea name="description" style="resize: none" rows="4" cols="50"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p style="text-align: right">Date Created</p>
            </div>
            <div style="text-align: left" class="col-6">
                <input name="date_created" type="text">
            </div>
        </div>

        <br>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>
{% endblock %}