{% extends 'software/layout.html' %}

{% block content %}
<div class="softwareinfo">
    <h1>{{software.team}}</h1>
    <div class="row">
        <div class="col-3">
            <p>Description</p>
        </div>
        <div class="col-9">
            <p>{{software.body|linebreaksbr}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Date Created</p>
        </div>
        <div class="col-9">
            <p>{{software.date_posted}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Last Modified</p>
        </div>
        <div class="col-9">
            <p>Null</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Links</p>
        </div>
        <div class="col-9">
            <p>Null</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Files</p>
        </div>
        <div class="col-9">
            <p>Null</p>
        </div>
    </div>
</div>
{% endblock %}