{% extends 'software/layout.html' %}

{% block content %}
<h1 id="pagetitle">NOTES</h1>
<h2 id="pageinfo">{{software.title}}</h2>
<div class="custom-container">
    <div id="modifybox">
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Title</h3>
            </div>
            <div class="col-10">
                <p>{{software.title}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Description</h3>
            </div>
            <div class="col-10">
                <p>
                    {{software.body|linebreaksbr}}
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Date Uploaded</h3>
            </div>
            <div class="col-10">
                <p>{{software.datePosted}}</p>
            </div>
        </div>
        <a href="/software/edit_software/{{software.id}}" class="btn btn-outline-light">Edit</a>
    </div>
</div>
{% endblock %}