{% extends 'software/layout.html' %}
{% load ratings %}

{% block content %}
<h1 id="pagetitle">NOTES</h1>
<h2 id="pageinfo">{{software.title}}</h2>
<div class="custom-container">
    <div id="modifybox">
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Title</h3>
            </div>
            <div class="col-10">
                <p>{{software.title}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Description</h3>
            </div>
            <div class="col-10">
                {{software.description|safe}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Links</h3>
            </div>
            <div class="col-10">
                {% for l in links %}
                    {% if forloop.last %}
                    <a class="details-link" target="_blank" href="{{l.url}}">{{l.title}}</a>
                    {% else %}
                    <a class="details-link" target="_blank" href="{{l.url}}">{{l.title}}</a>
                    <br>
                    <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">iGEM Team</h3>
            </div>
            <div class="col-4">
                <p>{{software.iGemTeamName}}</p>
            </div>
            <div class="col-2">
                <h3 class="software-title">iGEM Year</h3>
            </div>
            <div class="col-4">
                <p>{{software.iGemYear}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Date Submitted</h3>
            </div>
            <div class="col-4">
                <p>{{software.dateSubmitted}}</p>
            </div>
            <div class="col-2">
                <h3 class="software-title">Date Modified</h3>
            </div>
            <div class="col-4">
                <p>{{software.dateModified}}</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <h3 class="software-title">Rating</h3>
            </div>
            <div class="col-10">
                {% ratings software %}
            </div>
        </div>
        <br>
        <a href="/software/edit_software/{{software.id}}" class="btn btn-outline-light">Edit</a>
    </div>
</div>
{% endblock %}