{% extends 'software/layout.html' %}

{% block content %}
<h1>Software</h1>
<br>
<a style="display: block" href="/software/add_software" class="btn btn-outline-dark">Add Software</a>
<br>
<hr>
<br>
<div class="row">
    {% for s in software %}
    <div class="col-sm-12 col-md-4">
        <a style="text-decoration: none" href="/software/details/{{s.id}}">
            <div class="col-12 square">
                <p class="preview">{{s.team}}</p>
                <p class="preview">{{s.body|linebreaksbr}}</p>
            </div>
        </a>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}